.main-section {
  /* margin: 100px; */

  margin: 0;
  padding: 0;
  color: white;
  height: 85%;
  width: 100%;
  background-size: 100% auto;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-position-y: -130px;
  /* background-position: bottom; */

  /* position: relative; */
}
.inner-main {
  /* background-color: rgba(0, 0, 0, 0.2);
  height: 100%; */
}
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 0, 0, 0.4);
  padding: 10px; /* top/bottom left-right */
  margin-top: 0;
  z-index: 10;
}

#logo {
  padding: 10px;
  border: 2px solid white;
  margin: 5px;
}

.item-list {
  list-style-type: none;
  display: flex;
}
.item-list a {
  color: white;
  text-decoration: none;
}
.item-list a:hover {
  text-decoration: underline;
}

.item {
  margin: 0 10px;
}

.hero-section {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hero-section div {
  margin: 10px;
}

.main-heading {
  font-size: 42px;
}

.main-heading h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.get-started-button {
  border: 2px solid rgba(255, 0, 0, 0.5);
  border-radius: 25px;
  padding: 10px;
}

.get-started-button a {
  color: white;
  text-decoration: none;
}
.get-started-button:hover {
  background-color: rgb(177, 35, 35);
}

/* .overlay {
  background-color: rgba(255, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: -50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 15px;
  color: white;
  margin: 0 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #0a08089a;
}
.card > * {
  margin: 10px auto;
}

.dark {
  background-color: #6f1419;
}

.light {
  background-color: #96353a;
}

.card-icon {
  font-size: 40px;
}
.card-title {
  font-size: 30px;
}
.card-desc {
  font-size: 12px;
  text-align: center;
}

#contact-us {
  margin-top: 50px;
  text-align: center;
}

#contact-us h1 {
  font-weight: 500;
  font-size: 45px;
}

#contact-form {
  width: 40%;
  margin: 10px auto;
  background-color: #6f1419;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border-radius: 10px;
  padding: 20px;
}

#contact-form > * {
  margin-top: 20px;
}

.inp {
  border: 0px;
  border-bottom: 2px solid #96353a;
  background-color: rgba(255, 0, 0, 0);
  font-size: 18px;
  color: white;
  outline: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.555);
  opacity: 1; /* Firefox */
}

.submit-button {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px;
  width: 20%;
  margin: auto;
}
.submit-button:hover {
  background-color: rgb(255, 255, 255);
  color: #96353a;
  font-weight: bold;
  cursor: pointer;
}
